body {
  min-width: 1200px;
}
.header-wapper {
  height: 685px;
  margin-bottom: 2px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-wapper .header {
  padding-top: 30px;
}
.header-wapper .header .logo {
  height: 47px;
  background: url('../img/logo-w.png') no-repeat;
  background-position: center right;
}
.header-wapper .header .nav {
  background-color: rgba(20, 25, 31, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li {
  float: left;
}
.header-wapper .header .nav li a {
  color: #ffffff;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 1;
}
.header-wapper .header .nav li a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li a:hover {
  background-color: rgba(20, 25, 31, 0.2);
}
.header-wapper .header-fixed {
  display: none;
  padding: 20px 0 25px 0;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0px 5px #aaa;
}
.header-wapper .header-fixed .logo {
  height: 47px;
  background: url('../img/logo-g.png') no-repeat;
  background-position: center right;
}
.header-wapper .header-fixed .nav li {
  float: left;
}
.header-wapper .header-fixed .nav li a {
  padding: 13.5px 20px;
  color: #333;
}
.header-wapper .header-fixed .nav li a:hover {
  background-color: #ddd;
}
.header-wapper .slogan {
  position: absolute;
  top: 200px;
  left: 0;
  height: 100px;
  width: 500px;
  background: rgba(36, 178, 150, 0.5) url(../img/slogan.png) no-repeat 80% 50%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.header-wapper .companies {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-wapper .companies div {
  height: 100px;
}
.header-wapper .companies div.link {
  background: transparent url("../img/p1.png") no-repeat center center;
  background-size: auto 30px;
}
.header-wapper .companies div.lri {
  background: transparent url("../img/p5.png") no-repeat center center;
  background-size: auto 40px;
}
.header-wapper .companies div.kf {
  background: transparent url("../img/p2.png") no-repeat center center;
  background-size: auto 55px;
}
.header-wapper .companies div.edf {
  background: transparent url("../img/p4.png") no-repeat center center;
  background-size: auto 35px;
}
.header-wapper .companies div.ae {
  background: transparent url("../img/p3.png") no-repeat center center;
  background-size: auto 25px;
}
.products {
  margin-left: 0;
}
.products > div {
  height: 200px;
  border-right: 2px solid #ffffff;
  background-image: url(../img/printer.png), url(../img/graybg.png);
  background-size: auto 180px, auto;
  background-position: 140% 100%, 0 0;
  background-repeat: no-repeat, repeat-x;
  -webkit-transition: background-size 0.1s linear;
  transition: background-size 0.1s linear;
}
.products > div:last-child {
  border-right: none;
}
.products > div:hover {
  background-size: auto 188px, auto;
}
.products > div .text {
  background-color: transparent;
  width: 100px;
  text-align: center;
  padding-left: 20px;
  padding-top: 75px;
}
.products > div .text .en {
  margin-bottom: 2px;
  font-size: 20px;
}
.service {
  padding: 20px 0 600px 0;
  background-color: gray;
  text-align: center;
  font-size: 20px;
}
.footer-bg1 {
  background: transparent url("../img/footer-bg1.png") no-repeat;
}
.footer-bg2 {
  background: transparent url("../img/footer-bg2.png") no-repeat;
}
.footer-bg3 {
  background: transparent url("../img/footer-bg3.png") no-repeat;
}
.footer-wapper {
  padding-top: 100px;
  color: #ffffff;
  -webkit-transition: background 4s linear;
  transition: background 4s linear;
  background-size: cover;
}
.footer-wapper .title {
  width: 462px;
  height: 45px;
  margin: 0 auto 30px auto;
  background: transparent url('../img/slogan2.png') no-repeat;
}
.footer-wapper .desc {
  color: #ffffff;
  margin-bottom: 80px;
}
.footer-wapper .btn-order {
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 200px;
  background-color: #00C8D7;
  border-color: #15959E;
  border-width: 0 0 3px 0;
  border-radius: 3px;
  font-size: 16px;
}
.footer-wapper .footer {
  font-size: 13px;
  padding-bottom: 20px;
}
.footer-wapper .footer .links li {
  display: inline-block;
  margin-left: 35px;
}
.footer-wapper .footer .links li a {
  color: #ffffff;
}
