.header-wapper {
  height: 685px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-wapper .header {
  padding-top: 30px;
}
.header-wapper .header .logo {
  height: 47px;
  background: url('../img/logo-w.png') no-repeat;
  background-position: center right;
}
.header-wapper .header .nav {
  background-color: rgba(20, 25, 31, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li {
  float: left;
}
.header-wapper .header .nav li a {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 13px;
}
.header-wapper .header .nav li a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li a:hover {
  background-color: rgba(20, 25, 31, 0.2);
}
.header-wapper .slogan {
  position: absolute;
  top: 200px;
  left: 0;
  padding: 10px 0px 10px 160px;
  font-size: 65px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  background-color: rgba(36, 178, 150, 0.5);
}
.header-wapper .companies {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-left: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-wapper .companies div {
  height: 100px;
}
.header-wapper .companies div.link {
  background: transparent url("../img/p1.png") no-repeat center center;
  background-size: auto 30px;
}
.header-wapper .companies div.lri {
  background: transparent url("../img/p5.png") no-repeat center center;
  background-size: auto 40px;
}
.header-wapper .companies div.kf {
  background: transparent url("../img/p2.png") no-repeat center center;
  background-size: auto 55px;
}
.header-wapper .companies div.edf {
  background: transparent url("../img/p4.png") no-repeat center center;
  background-size: auto 35px;
}
.header-wapper .companies div.ae {
  background: transparent url("../img/p3.png") no-repeat center center;
  background-size: auto 25px;
}
.products {
  margin-left: 0;
}
.products > div {
  height: 140px;
  background-image: url(../img/printer.png), url(../img/graybg.png);
  background-size: 50%, auto;
  background-position: bottom right;
  background-repeat: no-repeat, repeat-x;
}
.products > div .text {
  background-color: transparent;
  width: 120px;
  text-align: center;
  padding-left: 20px;
  padding-top: 45px;
}
.products > div .text .en {
  margin-bottom: 2px;
  font-size: 20px;
}
.service {
  padding: 20px 0 600px 0;
  background-color: gray;
  text-align: center;
  font-size: 20px;
}
.footer-wapper {
  color: #ffffff;
  background: transparent url("../img/footer-bg1.png") no-repeat;
  -webkit-transition: opacity 4s linear;
  background-size: cover;
}
.footer-wapper .title {
  letter-spacing: 2px;
  padding-top: 100px;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 15px;
}
.footer-wapper .desc {
  color: #ffffff;
  margin-bottom: 70px;
}
.footer-wapper .btn-order {
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 200px;
  background-color: #00C8D7;
  border-color: #15959E;
  border-width: 0 1px 3px 1px;
  border-radius: 3px;
  font-size: 16px;
}
.footer-wapper .footer {
  font-size: 13px;
  padding-bottom: 20px;
}
.footer-wapper .footer .links li {
  display: inline-block;
  margin-left: 35px;
}
