.header-wapper {
  height: 685px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-wapper .header {
  padding-top: 30px;
}
.header-wapper .header .logo {
  height: 47px;
  background: url('../img/logo-w.png') no-repeat;
  background-position: center right;
}
.header-wapper .header .nav {
  background-color: rgba(20, 25, 31, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li {
  float: left;
}
.header-wapper .header .nav li a {
  color: #ffffff;
  padding: 10px 20px;
}
.header-wapper .header .nav li a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-wapper .header .nav li a:hover {
  background-color: rgba(20, 25, 31, 0.2);
}
.header-wapper .slogan {
  position: absolute;
  top: 200px;
  left: 0;
  padding: 10px 0px 10px 160px;
  font-size: 65px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  background-color: rgba(36, 178, 150, 0.5);
}
.header-wapper .companies {
  width: 100%;
  margin-left: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-wapper .companies div {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  height: 120px;
}
.products {
  margin-left: 0;
}
.products > div {
  height: 140px;
  background-image: url(../img/printer.png), url(../img/graybg.png);
  background-size: 50%, auto;
  background-position: bottom right;
  background-repeat: no-repeat, repeat-x;
}
.products > div .text {
  background-color: transparent;
  width: 100px;
  text-align: center;
  padding-left: 20px;
  padding-top: 45px;
}
.products > div .text .en {
  margin-bottom: 2px;
  font-size: 20px;
}
.service {
  padding: 20px 0 400px 0;
  background-color: gray;
  text-align: center;
  font-size: 20px;
}
